:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark_blue-color: #1C4371;
  --off-white-color: #FFFAEC;
  --light-blue-color: #E5EDF4;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /*display: flex;*/
  /*place-items: center;*/
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 1.8em;
  padding: 0;
  margin: 0;
}
h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--off-white-color);
  position: fixed;
  margin-top: 0.2em;
  transition: margin-top 0.3s ease;
}

.nav-bar.scrolled {
  margin-top: -1em;
}

.nav-link {
  padding: 0.5em 1em;
  margin-right: 1em;
  font-weight: bold;
}

.nav-link:hover {
  background: var(--light-blue-color);
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 2em;
  background-color: var(--dark_blue-color);
  color: white;
  z-index: 10;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.header.scrolled {
  padding: 0 2em;
}

.header h2{
  transition: all 0.2s ease;
}

.header h2:hover{
  scale: 102%;
  text-shadow:0px 0px 10px var(--light-blue-color);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hStack {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5em;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("assets/heroIMG.jpg");
  height: 80vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  align-items: center;
  justify-content: center;
  z-index: -2;
  position: relative;
  margin-top: 4.5em;
  overflow: hidden;
  pointer-events: none;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}

.hero-body{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  color: white;
  gap: 1.3em;
  z-index: 1;
}
.button {
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.6em;
  border: none;
  background-color: var(--dark_blue-color);
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}


.taglines {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
  padding: 2em 4em;
  background-color: lightgray;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.tagline i {
  font-size: 2em;
  padding: 0.8em;
  border-radius: 50%;
  outline: 0.09em solid black;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: var(--off-white-color);
  padding: 2em;
  padding-bottom: 4em;
  gap: 4em;
}

.footer-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em
;
}

.footer-item p{
  margin: 0;
}

.footer-item h4{
  margin-bottom: 0.5em;
}

.center {
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.page-container {
  display: flex;
  min-height: 76vh;
  margin-top: 4.5em;
}

.page-body {
  margin: 4em;
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-item {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 32em;
  object-fit: cover;
  display: block;
  border-radius: 0.6em;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0.6em 1em;
  }

  .header.scrolled {
    padding: 0 1em;
  }

  .page-body {
    margin: 1em;
    margin-top: 4em;
  }

  .nav-bar{
    font-size: 1em;
    justify-content: center;
  }

  .nav-bar.scrolled {
    margin-top: -1.15em;
  }

  h1 {
    font-size: 3em;
  }

  .hero-body h3 {
    font-size: 1em;
  }

  .image-grid {
    gap: 0.5em
  }
  .image-item {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .taglines{
    flex-wrap: wrap;
    /*gap: 1em 5em;*/
    justify-content: center;
  }

  .tagline {
    flex: 0 0 calc(50% - 20px);
  }

  footer{
    flex-wrap: wrap;
  }

  .footer-item {
    gap: 0em
  }

  footer p {
    font-size: 0.9em;
  }

  footer .first {
    flex-basis: 100%;
  }

  footer .center{
    /*flex-basis: 10%;*/
    margin-top: -3em;
  }

  .center {

    align-items: flex-start;
  }
  footer .last {
    flex-basis: 40%;
    margin-top: -3em;
  }

  footer .hStack{padding-top: 0.5em}

}